.beer-features-1png-icon,
.figure-icon-finder-1-5png {
  position: relative;
  width: 350px;
  height: 554.39px;
  object-fit: cover;
}
.figure-icon-finder-1-5png {
  width: 66.25px;
  height: 66.25px;
}
.dui-proin-eget {
  margin: 0;
}
.vestibulum-ac-diam-container3 {
  line-break: anywhere;
  width: 100%;
}
.vestibulum-ac-diam-container2 {
  position: absolute;
  top: -1px;
  left: 0;
  line-height: 29.71px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 462.07px;
  height: 89.41px;
}
.pelementor-image-box-descript {
  position: relative;
  width: 473.23px;
  height: 89.11px;
}
.divelementor-image-box-wrappe {
  width: 554.48px;
  height: 89.11px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.curabitur-aliquet-quam-container,
.donec-sollicitudin-molestie-container {
  position: absolute;
  top: -1px;
  left: 0;
  line-height: 29.71px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 460.75px;
  height: 89.41px;
}
.donec-sollicitudin-molestie-container {
  width: 448.36px;
}
.divelementor-widget-wrap6,
.section9 {
  height: 554.39px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.divelementor-widget-wrap6 {
  width: 554.48px;
  flex-direction: column;
  padding: 93.52999877929688px var(--padding-0) 93.53001403808594px;
  box-sizing: border-box;
  gap: var(--gap-31xl);
}
.section9 {
  position: absolute;
  top: 345.4px;
  left: calc(50% - 505px);
  width: 1010px;
  flex-direction: row;
  gap: var(--gap-85xl);
}
.figure-icon-finder-1-4png {
  position: relative;
  width: 37.09px;
  height: 37.09px;
  object-fit: cover;
}
.vestibulum-ac-diam-container4 {
  position: absolute;
  top: -1px;
  left: 0;
  line-height: 29.71px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 153.41px;
  height: 89.41px;
}
.pelementor-image-box-descript3 {
  position: relative;
  width: 154.56px;
  height: 89.11px;
}
.divelementor-image-box-wrappe3 {
  width: 206.66px;
  height: 89.11px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.section10,
.vestibulum-ac-diam-container6 {
  position: absolute;
  display: flex;
  align-items: center;
}
.vestibulum-ac-diam-container6 {
  top: -1px;
  left: 0;
  line-height: 29.71px;
  font-weight: 600;
  width: 153.4px;
  height: 89.41px;
}
.section10 {
  top: 999.79px;
  left: calc(50% - 550px);
  width: 1100px;
  height: 89.11px;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-61xl);
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-140xl);
}
.choose-flavorpng-icon {
  position: relative;
  width: 456px;
  height: 576.83px;
  object-fit: cover;
}
.choose-your-flavour-container {
  position: relative;
  line-height: 70px;
  display: flex;
  align-items: center;
  width: 409.62px;
  height: 126px;
  flex-shrink: 0;
}
.heading-23 {
  position: absolute;
  top: 43.46px;
  left: 0;
  width: 600px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: var(--font-size-37xl);
}
.quisque-velit-nisi-container2 {
  position: relative;
  line-height: 29.71px;
}
.strong {
  position: absolute;
  top: 202.46px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-dimgray);
  font-family: var(--font-cairo);
}
.cras-ultricies-ligula-container {
  position: absolute;
  top: -1px;
  left: 0;
  line-height: 29.71px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 570.4px;
  height: 148.82px;
}
.divelementor-widget-container7 {
  position: absolute;
  top: 282.86px;
  left: 0;
  width: 600px;
  height: 148.52px;
  color: var(--color-dimgray);
  font-family: var(--font-cairo);
}
.choose-for-yourself {
  position: relative;
  line-height: 15px;
}
.link3 {
  position: absolute;
  top: 486.38px;
  left: 0;
  background-color: var(--color-goldenrod);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) 32.69999694824219px var(--padding-base)
    var(--padding-12xl);
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-mini);
}
.divelementor-widget-wrap7,
.section11 {
  position: relative;
  width: 600px;
  height: 576.83px;
}
.section11 {
  position: absolute;
  top: 1188.9px;
  left: calc(50% - 600px);
  width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-125xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-bungee);
}
.section8 {
  position: relative;
  width: 1200px;
  height: 1765.73px;
  z-index: 5;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
  font-family: var(--font-cairo);
}
